modules = ["nodejs-20", "python-3.11"]

[nix]
channel = "stable-24_05"

[workspace]
repl = "."
depsAwareHotReload = false

[deployment]
run = ["node", "backend/server.js"]
deploymentTarget = "cloudrun"
ignorePorts = false

[languages]

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx,*.json}"

[languages.javascript.languageServer]
start = "typescript-language-server --stdio"

[languages.python]
pattern = "**/*.py"

[languages.python.languageServer]
start = "pylsp"

[[ports]]
localPort = 3000
externalPort = 80